.playlistContainer {
    background-color: rgba(135, 207, 241, 0.95);
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;                /* Use Flexbox for centering */
    flex-direction: column;       /* Align elements in a column */
    justify-content: center;      /* Vertically center */
    align-items: center;          /* Horizontally center */
    height: 100%;                 /* Take up full height */
}

.editableTitleContainer {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.editableTitleContainer:hover {
    text-decoration: underline;
}

.editableTitle {
    margin-right: 10px;
}

.editableActive {
    outline: none;
    border: none;
    caret-color: black;
}

.editIcon {
    cursor: pointer;
    position: relative;
    top: 3px;
}

.trackListContainer {
    width: 100%;                  /* Take full width for the tracklist */
    text-align: left;             /* Left-align the track list */
}

.saveButton {
    margin: 30px 0px;
    background-color: rgb(21, 180, 253);
    color: black;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.saveButton:hover {
    background-color: rgba(51, 135, 173, 0.979);
}